@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


.cabecalho {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.635));
    display: flex;
    text-align: center;
    height: 60px;
}

.home__logo {
    width: 70px;
    height: 50px;
    align-items: start;
    justify-content: start;
}

.container,
.home__lista,
.home__item a {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 600;
    color: #E3E3E3;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #DF5202;
}