.cabecalho {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.635));
    display: flex;
    display: flex;
    text-align: center;
    width: 100%;

}

.home__logo {
    height: 3rem;
    align-items: center;
    justify-content: start;
}

.container,
.home__lista,
.home__item,
a {
    font-family: 'Cinzel Decorative', serif;
    font-size: 25px;
    color: #E3E3E3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

a:hover {
    color: #DF5202;
}