.metades {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.635));
    display: grid;
    grid-area: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-auto-columns: auto;
    height: 91vh;

}

.conteudo__principal {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}

.conteudo__principal .chamada {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    flex-direction: column;
    color: white;
    text-align: start;
    font-size: 50px;
    padding: 90px 0 0 20px;
    width: 90%;
}

.conteudo__principal .titulo {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    text-align: start;
    font-size: 30px;
    padding: 40px 0 0 20px;
    width: 90%;
}

.conteudo__principal .descricao {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
}

.imagem__fdp img {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 20rem;
    width: 30rem;
    flex-wrap: wrap;

}