.metades {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.635));
    display: grid;
    grid-area: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-auto-columns: auto;
    height: 91vh;

}

.conteudo__principal {
    align-items: start;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;

}

.conteudo__principal .chamada {
    color: white;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 50px;
    flex-direction: column;
    text-align: start;
    padding: 90px 0 0 20px;
    width: 90%;
}

.conteudo__principal .titulo {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    text-align: start;
    font-size: 30px;
    padding: 40px 0 0 20px;
    width: 90%;
}

.conteudo__principal .descricao {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
}

.imagem__recomendacao,
.conteudo__principal__imagem {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 20rem;
    width: 90%;
    flex-wrap: wrap;
}

.conteudo__principal__carrossel {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
    width: 200%;

}

.conteudo__item {
    display: inline-flex;
    padding: 50px;
}

.conteudo__lista__img {
    width: 100px;
}